# ===========================================
# Configuration pour le serveur de production
# Copiez ce fichier en ".env" sur le serveur
# ===========================================

# Mode d'exécution
NODE_ENV=production

# Port de l'API
PORT=4000

# MongoDB
MONGODB_URI=mongodb://mongo:27017/easypadel

# JWT Secret (utilisez le même que votre environnement de dev)
JWT_SECRET=MessiGoat_497834793847
