version: "3.9"

services:
  api:
    image: ghcr.io/eronhavolli/easypadel-api:latest
    container_name: easypadel-api
    ports:
      - "${API_PORT:-4000}:4000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: easypadel-mongo
    ports:
      - "${MONGO_PORT:-27017}:27017"
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
