version: "3.9"

services:
  api:
    image: ghcr.io/eronhavolli/easypadel-api:latest
    container_name: easypadel-api
    network_mode: host
    env_file:
      - .env
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: easypadel-mongo
    network_mode: host
    restart: unless-stopped

volumes:
  mongo_data:
